 <tr>
        <td style="padding: 20px; text-align: center; background-color: #fff">
          <span
            style="
              font-size: 0.8em;
              margin: 0;
              font-weight: 600;
              color: #a19b9e;
            "
            >If you received this message by mistake, please ignore this email.
          </span>
        </td>
      </tr>